<!-- post card template -->
<div class="card p-5 mb-5 rounded border-white text-white bg-gradient3 shadow-sm">
        <div class="card-body">
            <a href="#" class="badge badge-light">SEA-001</a>
            <h1 class="card-title">Link title</h1>
            <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
            <a href="#" class="badge badge-secondary">tag</a>
            <a href="#" class="badge badge-secondary">othertag</a>
            <a href="#" type="button" class="btn btn-light btn-lg btn-block my-5">www.gogole.fre</a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#postview">Lire</button>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#postedit">Editer</button>
        </div>
    </div>