<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fas fa-user-astronaut fa-2x"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Activités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#postslist">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://discordapp.com">Discord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#login">Login</a>
        </li>
      </ul>
      <div class="dropdown mr-3">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          New
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Post</a>
          <a class="dropdown-item" href="#">Snippet</a>
          <a class="dropdown-item" href="#">Lien</a>
        </div>
      </div>
      <form class="form-inline my-3 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button type="button" class="btn mx-">
        <i class="fas fa-bell"></i><span class="badge badge-light">9</span>
        <span class="sr-only">unread messages</span>
      </button>
      <img src="/img/img-profile-thumb.jpg" width="35" height="35" class="d-inline-block align-top ml-3" alt="">
    </div>
  </div>
</nav>