<!-- snippet card template -->
<!-- <div class="card p-5 mb-5 rounded border-white text-white bg-gradient2 shadow-sm">
    <div class="card-body">
        <a href="#" class="badge badge-light">SEA-003</a>
        <h1 class="card-title">Snippet title</h1>
        <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
        <a href="#" class="badge badge-secondary">tag</a>
        <a href="#" class="badge badge-secondary">othertag</a>
        <p class="card-text snippet-content mt-3">
            <button type="button" class="btn btn-link text-warning">Javascript</button><br>
                // forEach method, could be shipped as part of an Object Literal/Module<br>
                var forEach = function (array, callback, scope) {<br>
                for (var i = 0; i < array.length; i++) {<br>
                    callback.call(scope, i, array[i]); // passes back stuff we need<br>
                    }<br>
                    };<br>

                    // Usage:<br>
                    // optionally change the scope as final parameter too, like ECMA5<br>
                    var myNodeList = document.querySelectorAll('li');<br>
                    forEach(myNodeList, function (index, value) {<br>
                    console.log(index, value); // passes index + value back!<br>
                    });
        </p>
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#postview">Lire</button>
        <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#postedit">Editer</button>
    </div>
</div> -->

<!-- snippetv3 template -->
<div class="card mb-3" style="width: 100%;">
    <div class="row no-gutters">
        <div class="col-md-4 text-center">
            <img src="/img/snipper-feature-img.jpg" class="card-img" alt="..." style="height: auto;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="#" class="badge badge-light">SEA-001</a>
                <h5 class="card-title">Snippet title</h5>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="badge badge-light">tag</a>
                <a href="#" class="badge badge-light">othertag</a>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                    data-target="#postview">Lire</button>
                <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                    data-target="#postedit">Editer</button>
            </div>
        </div>
    </div>
</div>