<!-- Toolbar text edit using fontawesome with <i> tag -->
<!-- CSS import link -> index.html -->
<div class="btn-group btn-group-sm mb-3" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-brackets-curly"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">####</a>
      <a class="dropdown-item" href="#">Markdown</a>
    </div>
  </div>
  <button type="button" class="btn btn-secondary"><i class="fas fa-heading"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fab fa-stripe-s"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fas fa-underline"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fas fa-bold"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fas fa-italic"></i></button>
  <button type="button" class="btn btn-secondary"><i class="fas fa-link"></i></button>
  <button type="button" class="btn btn-secondary"><i class="far fa-images"></i></button>
</div>